# Pliki binarne i kompilacyjne
target/
*.class
*.jar
*.war
*.ear

# Pliki IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Pliki Eclipse
.project
.classpath
.settings/
.factorypath

# Pliki Maven i Gradle
.mvn/
!**/src/main/resources/application*.properties
**/application-*.properties
**/application-*.yml
**/application.yml
**/application.properties

# Pliki środowiskowe
.env

# Pliki logów i generowane pliki
logs/
*.log
hs_err_pid*

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki Docker
docker-compose.override.yml
